beautifulsoup4==4.11.1
flask>=2.1.2
Flask-Cors==3.0.10
Flask-WTF==1.0.1
nltk==3.8.1
pandas==1.4.3
waitress>=2.1.2
rasa~=3.5.6
ruamel.yaml<0.17.0,>=0.16.5
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
aio-pika>=9.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
sentry-sdk>=1.14.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability